body{
  background-color: #d2d2d2;
  text-align: center;
}

.container{
  width: 90%;
  height: 800px;
  margin: auto;
  text-align: center;
}

#board{
  transform: translateX(20vw);
  width: 80vmin;
  height: 80vmin;
  overflow: hidden;
}

.tiles{
  width: 10vmin;
  height: 10vmin;
  border: 2px solid black;
  position: absolute;
}

.player1pieces .piece{
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  display: inline-block;
  margin-left: 1.4vmin;
  margin-top: 1.4vmin;
  color: white;
}

.player2pieces .piece{
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  margin-left: 1.4vmin;
  margin-top: 1.4vmin;
  color: white;
}

.selected{
  border: 3px solid red;
}
