body{
  background-color: #d2d2d2;
  text-align: center;
}

.container {
  width: 90%;
  height: 800px;
  margin: auto;
  text-align: center;
}

table{
  display: block;
  margin: auto;
  width: 500px;
  height: 500px;
  border: solid;
  border-color: black;
}

td{
  width: 62px;
  height: 62px;
}

.b{
  background-color: gray;
}

.w{
  background-color: white;
}

.row {
  text-align: center;
}

.row2 {
  height: 200px;
}

.two {
  height: auto;
}

.three {
  height: auto;
}

.four {
  height: auto;
}

.five {
  background-color: silver;
  height: 350px;
}

.moves{
  height: 340px;
  margin-top: 5px;
  overflow-y:auto;
  border: solid;
  border-color: black;
}

h2{
  margin-top: 20px;
}

.killable{
  border: solid;
  border-color: red;
}

.active{
  border: solid;
  border-color: blue;
}

.piece{
  background-image:url('http://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Chess_Pieces_Sprite.svg/2000px-Chess_Pieces_Sprite.svg.png');
  background-size: 586%;
  height:62px;
  width:61px;
  border:1px solid gray;
}

.piece:hover{
  border: solid;
  border-color: blue;
}

#bRook{
  background-position:-234px 60px;
}

#bPawn{
  background-position:60px 60px;
}

#bBishop{
  background-position:237px 60px;
}

#bKnight{
  background-position:-177px 60px;
}

#bKing{
  background-position:1px 60px;
}

#bQueen{
  background-position:-58px 60px;
}


#wRook{
  background-position:120px 0;
}

#wPawn{
  background-position:61px 0;
}

#wBishop{
  background-position:237px 0;
}

#wKnight{
  background-position:177px 0;
}

#wKing{
  background-position:1px 0;
}

#wQueen{
  background-position:-59px 0;
}
